{{if .PS.Find "firefox"}}F{{end}}
{{if .PS.Find "brave"}}B{{end}}
{{if .PS.FindByPrefix "chrome"}}C{{end}}
 
{{.CPU.Load | round 1 | ljust 4}}% {{.CPU.Freq | humanKSI 1}}Hz
 
{{range $t := .CPU.Temp}}{{$t}}°{{end}}
 
M({{.Mem.MemTotal | humanK 0}}):{{.Mem.MemUsedPercentage | round 0 }}%

{{if gt .Mem.SwapUsed 0}}
 Swap({{.Mem.SwapTotal | humanK 0}}):{{.Mem.SwapUsedPercentage | round 0}}%
{{end}}

{{range .FS.Drives}}
 {{.MountedOn | lastSegment}}({{.Total | humanK 0}}):{{.UsedPercentage | round 0}}%
{{end}}
{{if .FS.ENCFS}} E{{end}}

 
{{range .Net.ByPrefix "enp" }}
{{if .IsUp}}
[{{.Name}}: {{.Rx | human 0 | ljust 4}}{{.Tx | human 0 | ljust 4}}]
{{end}}
{{end}}

 {{"2006-01-02 15:04:05" | clock}}
